<div class=container style="width: 100%;">
  <div class=row>
    <div class="col-xs-3">
      <div id="custom-search-input">
        <div class="input-group">
          <input #searchBox id="search-box" class="search-query form-control" placeholder="Search" (keyup)="search(searchBox.value)"/>
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
      <h4>Type</h4>
      <a>{{stats?.type.buckets | json}}<br></a>
    </div>
    <div class="col-xs-9" style="height: 640px" id="map"></div>
  </div>
</div>
