<div class="sub-container">
  <h2 style="text-align: center">Object Fulltext Search</h2>
  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <input #searchBox id="search-box" class="search-query form-control" placeholder="Search" (keyup)="search(searchBox.value)"/>
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button">
          <span class=" glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
  <br>
  <ul class="media-list">
    <li class="media" *ngFor="let object of objects">
      <div class="media-left media-middle">
        <ng-container *ngIf="object['_source']['dcterms:isReferencedBy']; else elseBlock">
          <img class="media-object img-thumbnail" src="{{object['_source']['dcterms:isReferencedBy'][0]['@id'] | imgResolve}}" alt="No Image">
        </ng-container>
        <ng-template #elseBlock>
          <img class="media-object img-thumbnail" width="160" alt="No Image">
        </ng-template>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><a [routerLink]="['/object', object['_source']['dcterms:identifier']]">{{object['_source']['dcterms:title']}}</a></h3>
        <div class="row">
          <div class="col-sm-2">@id</div>
          <div class="col-sm-8">
            <a href="{{object['_source']['@id']}}">{{object['_source']['@id']}}<br></a>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-2"><a href="{{this.namespaceService.namespace.dcterms}}medium">dcterms:medium</a></div>
          <div class="col-sm-8">
          <ng-container *ngFor="let medium of object['_source']['dcterms:medium']">
            <a href="{{medium['@id']}}">{{medium['dcterms:title']}}<br></a>
          </ng-container>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><a href="{{this.namespaceService.namespace.dcterms}}subject">dcterms:subject</a></div>
          <div class="col-sm-8">
        <ng-container *ngIf="object['_source']['dcterms:subject']">
          {{object['_source']['dcterms:subject'] | slice:0:500}}<br>
        </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><a href="{{this.namespaceService.namespace.dcterms}}description">dcterms:description</a></div>
          <div class="col-sm-8">
        <ng-container *ngIf="object['_source']['dcterms:description']">
          {{object['_source']['dcterms:description'] | slice:0:500}}
        </ng-container>
        </div>
        </div>
      </div>
    </li>
  </ul>
</div>
