<div class="sub-container">
  <h2>Object Fulltext Search</h2>
  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <input #searchBox id="search-box" class="search-query form-control" placeholder="Search" (keyup)="search(searchBox.value)"/>
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button">
          <span class=" glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
  <ng-container *ngIf="objects">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><a href="{{this.namespaceService.namespace.dcterms}}ID">dcterms:identifier</a></th>
        <th><a href="{{this.namespaceService.namespace.dcterms}}title">dcterms:title</a></th>
        <th><a href="{{this.namespaceService.namespace.dcterms}}temporal">dcterms:temporal</a></th>
        <th><a href="{{this.namespaceService.namespace.dcterms}}medium">dcterms:medium</a></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of objects">
        <td><a [routerLink]="['/object', object['_source']['dcterms:identifier']]">{{object['_source']['dcterms:identifier']}}</a></td>
        <td>{{object['_source']['dcterms:title']}}</td>
        <td>{{object['_source']['dcterms:temporal']}}</td>
        <td>
          <ng-container *ngFor="let medium of object['_source']['dcterms:medium']">
            <a href="{{medium['@id'] | resolve}}">{{medium['dcterms:title']}}<br></a>
          </ng-container>
        </td>
        <td><a href="{{object['_source']['@id']}}"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
  </ng-container>
</div>
