<div class="container">
  <h3><a href="{{object?._source['@id']}}">{{object?._source['@id']}}</a></h3>
  <div class="row">
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <ng-container *ngFor="let prop of properties">
          <ng-container *ngIf="object?._source[prop]">
            <dt><a *ngIf="prop.search('dc') == 0" href="http://purl.org/dc/terms/{{prop}}">{{prop}}</a></dt>
            <dt *ngIf="prop.search('dc') == -1">{{prop}}</dt>
            <dd><span>{{object?._source[prop]}}</span></dd>
          </ng-container>
        </ng-container>
        <dt><a href="http://purl.org/dc/terms/medium">dcterms:medium</a></dt>
        <dd><span>
          <ng-container *ngFor="let medium of object?._source['dcterms:medium']">
            <a href="{{medium['@id'] | resolve}}">{{medium['dcterms:title']}}</a> <br>
          </ng-container>
        </span></dd>
        <dt><a href="http://purl.org/dc/relation">dcterms:relation</a></dt>
        <dd><span>
          <ng-container *ngFor="let obj of object?._source['dcterms:relation']">
            <a href="http://arachne.dainst.org/entity/{{obj['@id']}}">{{obj['@id']}}</a> <br>
          </ng-container>
        </span></dd>
        <dt><a href="http://purl.org/dc/terms/isReferencedBy">dcterms:isReferencedBy</a></dt>
        <dd><span>
          <ng-container *ngFor="let obj of object?._source['dcterms:isReferencedBy']">
            <a href="http://arachne.dainst.org/entity/{{obj['@id']}}">{{obj['dcterms:title']}}</a> <br>
          </ng-container>
        </span></dd>
        <dt><a href="http://purl.org/dc/terms/spatial">dcterms:spatial</a></dt>
        <dd><span>
          <ng-container *ngFor="let obj of object?._source['dcterms:spatial']">
            <a href="#{{obj['dcterms:type']}}">{{obj['dcterms:type']}}</a> <br>
          </ng-container>
        </span></dd>
      </dl>
      <ng-container *ngFor="let obj of object?._source['dcterms:spatial']">
        <h4 id="{{obj['dcterms:type']}}">
          <a href="#{{obj['dcterms:type']}}">#{{obj['dcterms:type']}}</a>
          <small> (<a href="http://purl.org/dc/terms/spatial">dcterms:spatial</a>)</small>
        </h4>
        <dl class="dl-horizontal">
          <dt><a href="http://purl.org/dc/terms/title">dcterms:title</a></dt>
          <dd><span>{{obj['dcterms:title']}}</span></dd>
          <dt><a href="http://www.w3.org/2003/01/geo/wgs84_pos#lat">geo:lat</a></dt>
          <dd><span>{{obj['wgs84:lat']}}</span></dd>
          <dt><a href="http://www.w3.org/2003/01/geo/wgs84_pos#long">geo:long</a></dt>
          <dd><span>{{obj['wgs84:lon']}}</span></dd>
          <dt><a href="http://www.w3.org/2004/02/skos/core#sameAs">skos:sameAs</a></dt>
          <dd><span><a href="{{obj['@id']}}">{{obj['@id']}}</a></span></dd>
        </dl>
      </ng-container>
    </div>
    <div class="col-sm-6">
      <div style="height: 400px" id="map">
      </div>
    </div>
  </div>
</div>
