<div class="container">
  <h3>Places</h3>
  <div class="row">
    <!-- DATA TABLE -->
    <div class="col-sm-7">
      <table class="table table-striped">
        <!-- Table head description -->
        <thead>
          <tr>
            <th><a href="{{this.namespaceService.namespace.dcterms}}title">dcterms:title</a></th>
            <th><a href="{{this.namespaceService.namespace.dcterms}}type">dcterms:type</a></th>
            <th><a href="{{this.namespaceService.namespace.dcterms}}description">dcterms:description</a></th>
            <th><a href="{{this.namespaceService.namespace.dcterms}}medium">dcterms:medium</a></th>
            <th></th>
          </tr>
        </thead>
        <!-- Creation of table row for earch dataset -->
        <tbody>
          <tr *ngFor="let place of places">
            <td>{{place['_source']['dcterms:title']}}</td>
            <td><a href="{{place['_source']['dcterms:type']['@id']}}">{{place['_source']['dcterms:type']['dcterms:title']}}</a></td>
            <td>{{place['_source']['dcterms:description']}}</td>
            <td>
              <ng-container *ngFor="let material of place['_source']['dcterms:medium']">
                <a href="{{material['@id']}}">{{material['dcterms:title']}}</a>
              </ng-container>
            </td>
            <td><a href="{{place['_source']['@id']}}"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- MAP -->
    <div class="col-sm-5">
      <div style="height: 50vH" id="map">
      </div>
    </div>
  </div>
</div>
