<div class="container">
  <div class="row" style="height: 45vH">
    <div class="col-sm-6">
      <h4>Provinces</h4>
      This is an showcase implementation for the topological query with <a href="https://www.elastic.co/de/products/elasticsearch">ElasticSearch</a>.
      For each of the provinces a topological query is performed using the <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-geo-shape-query.html">geo shape query</a>.
      All objects are returned, which are located within the specific province. On the right side a example query after all white marble objects within Dalmatia (<a href="https://pleiades.stoa.org/places/981522">https://pleiades.stoa.org/places/981522</a>) is shown.
    </div>
    <div class="col-sm-6">
      <pre>{{text}}</pre>
    </div>
  </div>
  <div class="row">
    <!-- MAP -->
    <div style="height: 45vH" id="map"></div>
  </div>
</div>
