<div class="container">
  <h4>Road</h4>
  <div class="row">
    <div class="col-sm-5">
      This is an showcase implementation for the use of <a href="http://turfjs.org/">TurfJS</a> to overcome the limits of the ElasticSearch geo shape query.
      In that example, we want to query for all <a href="http://vocab.getty.edu/aat/300011571">white marble</a> objects near the well known roman road <a href="https://de.wikipedia.org/wiki/Via_Appia">Via appia</a>.
      TurfJS takes the Line Geometry of the Via Appia and calculates a buffer of 1km (see right). The derived geometry is further used to perform a query with ElasticSearch geo shape query.
    </div>
    <div class="col-sm-7">
      <pre>{{text}}</pre>
    </div>
  </div>
  <div class="row">
    <!-- MAP -->
    <div style="height: 60vH" id="map"></div>
  </div>
</div>
