<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GeoLOD</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="object">Objects</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="place">Places</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="map">Map</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="province">Provinces</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="road">Roads</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<router-outlet></router-outlet>
